<div class="applicant" [ngClass]="{'codeDisplay': programmingDisplay}">
  <div class="card mt-1 noBorder extendBackgroundDown">
    <div class="card-header text-center py-1 contactArea align-items-center">
      <div class="form-row">
        <div class="col-print-6 col-lg-4 col-12 title">
          <b>
          <h1 class="resumeName d-none d-xl-inline d-print-inline" >
            {{ applicant.firstName }} {{ applicant.middleNameOrInitial }}
            {{ applicant.lastName }}
          </h1>
          <h2 class="resumeName d-none d-lg-inline d-xl-none" >
            {{ applicant.firstName }} {{ applicant.middleNameOrInitial }}
            {{ applicant.lastName }}
          </h2>
          <h3 class="resumeName d-none d-md-inline d-lg-none d-print-none" >
            {{ applicant.firstName }} {{ applicant.middleNameOrInitial }}
            {{ applicant.lastName }}
          </h3>
          <h5 class="resumeName d-inline d-md-none d-print-none" >
            {{ applicant.firstName }} {{ applicant.middleNameOrInitial }}
            {{ applicant.lastName }}
          </h5>
          </b>
        </div>
        <div class="col-print-3 col-lg-5 col-6 addressInfo xs-small sm-small">
          <div class="row">
            <div class="col-sm-12 text-right">
              <span>&nbsp;{{ applicant.address1 }}</span>
              <span *ngIf="applicant.address2">, {{ applicant.address2 }}</span>

            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-right">
              <span>
                {{ applicant.city }},
                {{ applicant.state }}
                {{ applicant.postalCode }}
              </span>
            </div>
          </div>
        </div>
        <div class="col-print-3 col-lg-3 col-6 contactInfo xs-small sm-small">
          <div class="row">
            <div class="col-sm-12 text-left">
              <span>
                  <a class="text-dark" [href]="'tel:' + applicant.phoneNumber">
                    {{ applicant.phoneNumber }}
                  </a>
              </span>
            </div>
            <div class="col-sm-12 text-left">
              <span>
                  <a class="text-dark" [href]="'mailto:' + applicant.email">
                    {{ applicant.email }}
                  </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body statement py-2 sm-small xs-small" [ngClass]="{'text-center': programmingDisplay}">
      <div class="row">
        <div class="col-print-12 col-12" >
          <h2>Profile</h2>
          <hr/>
          <div class="row statement-content">
            <div class="col-sm-12">
            Dedicated and dynamic bartender with 18 years of expertise in fast-paced bars. Proven ability to excel under pressure, a strong multitasker who thrives in a hectic, high-pressure working environment.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
