.skillArea {
  border-width: 0;
}
.applicant:not(.codeDisplay)
{
  .title {
    height: 61px;
    border-bottom: 1px solid black;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
  }
  .title h1,
  .title h2,
  .title h3,
  .title h4,
  .title h5,
  .title h6 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
  }
  .addressInfo {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
  .card {
    border: 0px solid transparent;
  }
  .card .card-header {
    border: 0px solid transparent;
    background-color: transparent;
  }
}


.codeDisplay .card-header {
  background: linear-gradient(
    125deg,
    rgba(0, 0, 0, 0.10) 0%,
    rgba(0, 0, 0, 0.13) 17.7%,
    white 18.3%,
    rgba(0, 0, 0, 0.10) 28%,
    rgba(0, 0, 0, 0.13)
  );
}


@media screen and (min-width: 992px) {
  .codeDisplay .card .card-header {
    position:relative;
    top: 0.0;
    left: 0;
    transition: 0.25s transform, 0.25s box-shadow, 1s background-position-x;
    transform:  translate(0,0);
    box-shadow: none;
    background-position-x: 10px;
    transition-delay: 0.0s;
    background: linear-gradient(
      125deg,
      rgba(0, 0, 0, 0.03) 0,
      rgba(0, 0, 0, 0.10) 47%,
      rgba(0, 0, 0, 0.13) 47.7%,
      white 48.3%,
      rgba(0, 0, 0, 0.13) 58%,
      rgba(0, 0, 0, 0.03)
    );
  }
  @media (hover: hover) {

    .codeDisplay .card .card-header:hover {
      // transform:  translate(-1px,-2px);
      box-shadow: 5px 5px 10px 0px #888 !important;

      background-position-x: 40px;
    }

  }
}

.applicant.codeDisplay
{
  .contactInfo:last-child {
    border-left-width: 1px;
    border-left-style: solid;
    border-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        #a0a0a0,
        rgba(0, 0, 0, 0)
      )
      1 100%;
    border-right-width: 0;
  }
  .card.layUnder {
    margin-bottom: -10px;
  }
  .contactArea {
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 10px 10px 0px 0px;
  }
  .noBorder {
    border-width: 0px;
  }
  .resumeName {
    margin-bottom: 0px;
    margin-top: auto;
  }
  .extendBackgroundDown {
    padding-bottom: 10px;
    margin-bottom: -10px;
  }
  .glassBack {
    background-color: rbga(0,0,0,0);
  }
  .frontendSkills {
  }
  .backendSkills {
  }
  .databaseSkills {
  }
  .cloudSkills {
  }
}

.showClick{
  
  cursor: pointer;
   * {
    display:none;
  }
}
.showClick:hover * {
  display: initial;
}