<div class="card mt-1 noBorder extendBackgroundDown">
  <div class="card-header text-center py-1 contactArea align-items-center">
    <div class="row">
      <div class="col-sm-6 justify-content-center align-self-center title">
        <h2 class="resumeName" >
          {{ applicant.firstName }} {{ applicant.middleNameOrInitial }}
          {{ applicant.lastName }}
        </h2>
      </div>

      <div class="col-sm-3 addressInfo">
        <div class="row">
          <div class="col-sm-12 text-right">
            <span>
              {{ applicant.address1 }}
            </span>
          </div>
          <div class="col-sm-12 text-right">
            <span>
              {{ applicant.city }},
              {{ applicant.state }}
              {{ applicant.postalCode }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-3 contactInfo">
        <div class="row">
          <div class="col-sm-12 text-left">
            <span>
              <u>
                <a class="text-dark" [href]="'tel:' + applicant.phoneNumber">
                  {{ applicant.phoneNumber }}
                </a>
              </u>
            </span>
          </div>
          <div class="col-sm-12 text-left">
            <span>
              <u>
                <a class="text-dark" [href]="'mailto:' + applicant.email">
                  {{ applicant.email }}
                </a>
              </u>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body pt-0 pb-1 text-center skillArea glassBack">
    <div class="row">
			<div class="col-sm-3" *ngFor="let skillArea of applicant.skillAreas">
				<div class="row">
					<div class="col-sm-12 font-weight-bold">
						{{skillArea.desc}}
					</div>
					<div class="col-sm-12" *ngFor="let skill of skillArea.skills">
						{{skill.desc}}
					</div>
				</div>
			</div>

    </div>
  </div>
</div>
