
.btn {
    margin-right: 4px !important;
    transition: 250ms ease-in-out all;
    height: 14px;
    padding: 1px;
    border-radius: 7.5px !important;
  }
  .btn:last-child, .btn:disabled  {
    margin-right: 0px !important;
  }
  .btn-unsel {
    height: 14px;
    background-color: #ffffff !important;
    border-color: #005bbb !important;
    color: #000;
  }
  .btn-off{
    height: 14px;
    background-color: #777777 !important;
    border-color: #777777 !important;
  }
  .btn-secondary{
    background-color: transparent;
    border-color: transparent;
    color: #000;
  }
  .btn-success {
    height: 14px;
    background-color: #005bbb !important;
    border-color: #005bbb !important;
  }
  .btn-group {
    border: 2px #005bbb solid !important;
    background-color: #f8f8ff;
    padding: 1px;
    border-radius: 8.5px;
  }
  .btn-group.disabled {
    padding: 0px;
    /* margin: 3px; */
    border: 1px #bbbbbb solid !important;
  }
  .btn:disabled {
    background-color: #cccccc !important;
    border-color: #cccccc !important;
    height: 14px;
  }
  .btn-success:disabled {
    color: #111111;
    font-size: 9px;
  }
  .btn-unsel:disabled {
    color: transparent;
  }
  .btn-secondary:disabled {
    display:none;
  }
  
  .smallRadio {
  
    .btn {
      font-size: 0.5 * 16px;
      margin-right: 0.5 * 8px !important;
      height: 0.5 * 28px;
      padding: 0.5 * 2px;
      border-radius: 0.5 * 15px !important;
    }
    .btn:last-child, .btn:disabled  {
      margin-right: 0.5 * 0px !important;
    }
    .btn-unsel {
      height: 0.5 * 28px;
    }
    .btn-success {
      height: 0.5 * 28px;
    }
    .btn-group {
      border: 0.5 * 3px #005bbb solid !important;
      padding: 0.5 * 2px;
      border-radius: 0.5 * 19px;
    }
    .btn-group.disabled {
      padding: 0.5 * 0px;
      border: 0.5 * 1px #bbbbbb solid !important;
    }
    .btn:disabled {
      height: 0.5 * 36px;
    }
    .btn-success:disabled {
      font-size: 0.5 * 18px;
    }
  }
  