  /* @page { size: auto;  margin: 0mm; }1 */
/*
@media only screen and (min-width: 1720px) {
  .jobSkillSection {
    font-size: 10pt;
  }
  .jobAchievementSection {
    font-size: 12pt;
  }
  .jobAchievementHeader {
    font-size: 14pt;
  }
}

@media only screen and (max-width: 1719.99px) and (min-width: 1380px) {
  .jobSkillSection {
    font-size: 10pt;
  }
  .jobAchievementSection {
    font-size: 12pt;
  }
  .jobAchievementHeader {
    font-size: 14pt;
  }

}
@media only screen and (max-width: 1379.99px) {

  .jobSkillSection {
    font-size: 8pt;
  }
  .jobAchievementSection {
    font-size: 10pt;
  }
  .jobAchievementHeader {
    font-size: 12pt;
  }
} */
.codeDisplay .listContainer ul li {
  margin-left: -15px;
}
.codeDisplay .listContainer ul li ul li {
  margin-left: -5px;
}
.codeDisplay .jobSkillSection {
  font-size: 11pt;
}
.codeDisplay .jobAchievementSection {
  font-size: 11pt;
}
.codeDisplay .jobAchievementHeader {
  font-size: 12pt;
}

ul {
  list-style-position: outside !important;
}

.jobAchievementSection > ul {
  column-count: 1;
}
.jobSkillSection > ul {
  column-count: 1;
}
.codeDisplay .jobTitle::before {
  content:'[';

}
.codeDisplay .jobTitle::after {
  content:']';

}
.codeDisplay .jobCompany::after {
  content: ' : Job Experience';
}
.codeDisplay {
  font-family: firaCode;
}
.codeDisplay .jobLocation::before, .codeDisplay .jobDate::before {
  content: '//';
}
.codeDisplay .codeInfo {
  color:black;
}

.codeDisplay .jobSkillSection::before {
  color:gray;
  content: 'Skills';
}
.jobSkillSection ul {
  column-count: 2;
}
.jobSkillSection ul ul {
  column-count: 1;
}
.codeDisplay .listContainer::before {
  color:gray;
  content: '{';
}
.codeDisplay .listContainer::after {
  color:gray;
  content: '}';
}

.codeDisplay ul.codeList li::before {
      content: '\00a0\00a0';
      padding-left: 2px;
  color:gray;
  font-family: firaCode;
}
.codeDisplay ul.codeList li ul::before {

  color:gray;
  content: '\00a0\00a0\00a0{';
    font-family: firaCode;
}
.codeDisplay ul.codeList li ul::after {

  color:gray;
  content: '\00a0\00a0\00a0}';
  font-family: firaCode;
}
.codeDisplay ul.codeList li ul li::before {
  content: '\00a0\00a0\00a0\00a0';
  color:gray;
  font-family: firaCode;
}
.codeDisplay .card-header ul {
  margin-bottom: 0;
}
.codeDisplay .card-body ul {
  margin-bottom: 0;
}
.codeDisplay .jobSkillSection {
  border-left-width:1px;
  border-left-style: solid;
  border-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      lightgray,
      rgba(0, 0, 0, 0)
    ) 1 100%;
  font-family: firaCode;
}
.codeDisplay ul.subList {
  list-style-type: circle;
  padding-left: 20px;
}
.codeDisplay ul.list-unstyled.subList {
  list-style-type: none;
  padding-left: 0;
}
.codeDisplay .card-header {
  background: linear-gradient(
    125deg,
    rgba(0, 0, 0, 0.03) 0%,
    rgba(0, 0, 0, 0.07) 67.7%,
    white 68.3%,
    rgba(0, 0, 0, 0.07) 78%,
    rgba(0, 0, 0, 0.07)
  );

}
.codeDisplay ul.dashList li::before {

  content: '- ';
}
li {
  break-inside: avoid-column;
}
