<div class="card mb-2 shadow-sm codeDisplay">
  <div class="card-header py-1">
    <div class="row">
      <div class="col-xl-12 col-sm-12 jobAchievementHeader">
        <div class="row">
          <div class="col-sm-7">
            <div class="row">
              <div class="col-sm-12 jobTitleCell">
                <span class="jobTitle">{{ jobModel.title }}</span>
              </div>
              <div class="col-sm-12 jobCompanyCell">
                <span class="jobCompany">{{ jobModel.company }}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-5 text-right">
            <div class="row codeInfo">
              <div class="col-sm-12 jobLocation">
                {{ jobModel.location }}
              </div>
              <div class="col-sm-12 jobDate">
                {{ jobModel.startDate }} - {{ jobModel.endDate }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-3 col-lg-4 text-center jobSkillHeader align-bottom">
        <span class="align-bottom">Skills</span>
      </div> -->
    </div>
  </div>
  <div class="card-body py-0">
    <div class="row">
      <div class="col-lg-8 col-sm-8 jobAchievementSection">
        <div class="listContainer">
          <ul class="codeList list-unstyled">
            <li *ngFor="let achievement of jobModel.achievements">
              {{ achievement.desc }}
              <ul
                *ngIf="achievement.sub && achievement.sub.length > 0"
                class="codeList list-unstyled subList"
              >
                <li *ngFor="let subAchievement of achievement.sub">
                  {{ subAchievement.desc }}
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 jobSkillSection pt-1">
        <div class="listContainer">
          <ul class="codeList list-unstyled">
            <li *ngFor="let skill of jobModel.skills">
              {{ skill.desc }}
              <ul
                *ngIf="skill.sub && skill.sub.length > 0"
                class="list-unstyled dashList subList"
              >
                <li *ngFor="let subSkill of skill.sub || []">
                  {{ subSkill.desc }}
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- <ng-container *ngFor="let skill  of jobModel.skills">
          <div >
            {{skill.desc}}
          </div>
          <ng-container *ngFor="let subskill of skill.sub">
            <div >
              {{subskill.desc}}
            </div>
          </ng-container>
        </ng-container> -->
      </div>
    </div>
  </div>
</div>
