<div class="jobInfo" [ngClass]="{ 'codeDisplay': programmingDisplay, 'denseCode': programmingDisplay == 'dense', 'wideCode': programmingDisplay == true }">
  <div class="card mt-2" [ngClass]="{ 'shadow-sm': programmingDisplay }">
    <div class=" py-1 ">
      <div class="row">
        <div class="col-xl-12 col-print-12 col-lg-12 col-md-12 col-sm-12 jobAchievementHeader">
          <div class="row">
            <div class="col-sm-12 jobHeaderLeft">
              <div class="row">
                <div class="col-sm-12 jobTitleCell md-small">
                    <span class="jobTitle" [ngClass]="{ '': programmingDisplay, 'font-weight-bold': !programmingDisplay }">{{ jobModel.title }}</span>
—
                  {{ jobModel.company }}, {{ jobModel.location }}
—
                  <i>
                    {{ jobModel.startDate }} - {{ jobModel.endDate }}
                  </i>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- <div class="col-xl-3 col-lg-4 text-center jobSkillHeader align-bottom">
          <span class="align-bottom">Skills</span>
        </div> -->
      </div>
    </div>
    <div *ngIf="effectiveAchievements.length + effectiveSkills.length > 0" class="card-body py-0">
      <div class="row">
        <div *ngIf="effectiveAchievements.length > 0" class="py-1 jobAchievementSection col-xl-12 col-lg-12 col-print-12" >
          <div [ngClass]="{ 'listContainer': effectiveAchievements.length > 1}" >
            <ul class="codeList list-unstyled">
              <div *ngFor="let achievement of effectiveAchievements">
                <li >

                  <div
                    (click)="clickExperienceDetail(achievement)"
                    class="jobAchievement"
                    [ngClass]="{
                      'hasDetails': achievement && achievement.details && effectiveDetailLevel < 4,
                      'highlight': matchesSkills(achievement.skillTags)
                    }"><div class="toDoIcon" ></div>{{ achievement.desc }}</div>

                  <div *ngIf="effectiveDetailLevel >= 4">
                    <div class="maxDetails" *ngFor="let detail of achievement.details">
                      {{detail}}
                    </div>
                  </div>
                  <ul
                    *ngIf="achievement.skills && achievement.skills.length > 0"
                    class="codeList subList list-unstyled"
                  >
                  <div *ngFor="let subAchievement of achievement.skills">

                    <li>
                      <div
                        (click)="clickExperienceDetail(subAchievement)"
                        class="jobAchievement"
                        [ngClass]="{
                          'hasDetails': subAchievement && subAchievement.details && effectiveDetailLevel < 4,
                          'highlight': matchesSkills(achievement.skillTags)
                        }"><div class="toDoIcon" ></div>{{ subAchievement.desc }}</div>
                      <div *ngIf="effectiveDetailLevel >= 4">
                        <div class="maxDetails" *ngFor="let detail of subAchievement.details">
                          {{detail}}
                        </div>
                      </div>
                    </li>
                  </div>
                  </ul>
                </li>

              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalDetails>
  <app-experience-details [programmingDisplay]="programmingDisplay" [experienceDetail]="experienceDetail"></app-experience-details>
</ng-template>
