<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="resumeTitle">
          BRIAN C. ARNOLD
        </h2>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12 text-right">
            <span>
              3501 Calument Dr
            </span>
          </div>
          <div class="col-sm-12 text-right">
            <span>
              Orlando, FL 32810
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12 text-left">
            <span>
              <u>
                <a class="text-dark" href="tel:1-256-652-6754">
                  256-652-6754
                </a>
              </u>
            </span>
          </div>
          <div class="col-sm-12 text-left">
            <span>
              <u>
                <a class="text-dark" href="mailto:brian.ch.arnold@gmail.com">
                  brian.ch.arnold@gmail.com
                </a>
              </u>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 col-xl-6">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <u>Red Lobster LLC</u>
                  </div>
                  <div class="col-sm-12">
                    Senior Systems Engineer
                  </div>
                </div>
              </div>
              <div class="col-sm-6 text-right">
                <div class="row">
                  <div class="col-sm-12">
                    Orlando, FL
                  </div>
                  <div class="col-sm-12">
                    May 2018 - Current
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-9">
                <ul>
                  <li>
                    Architected and developed Cloud compatible multitier pricing
                    application
                    <ol>
                      <li>
                        Database agnostic Data Context implemented with EF Core
                        2.1
                      </li>
                      <li>Microservice-compatible Business Logic System</li>
                      <li>
                        Dynamic Angular 8 site with context dependent display
                      </li>
                    </ol>
                  </li>

                  <li>
                    Created self-referential recursive serialization systems in
                    C# and TypeScript
                  </li>
                  <li>
                    Replaced flat file intra-system communication endpoints with
                    modern APIs
                  </li>
                  <li>
                    Configured DevOps CI/CD pipelines for separate tier
                    deployment
                  </li>
                  <li>Utilized CI/CD pipelines to deploy bug fixes same-day</li>
                  <li>Reduced known regression occurrence to zero</li>
                  <li>
                    Upgraded frontend from Angular 7 to Angular 9 during
                    development
                  </li>
                  <li>Upgraded backend from EF 6.1 to EF Core 2.1</li>
                </ul>
              </div>
              <div class="col-sm">
                <ul class="list-unstyled">
                  <li>Angular 7/8/9</li>
                  <li>Bootstrap 4.x</li>
                  <li>.NET Core 2.1-3.1</li>
                  <li>Oracle 18c</li>
                  <li>TypeScript 3.7</li>
                  <li>Azure Functions</li>
                  <li>Azure SQL</li>
                  <li>Docker/K8s</li>
                  <li>CDN</li>
                  <li>
                    Azure DevOps
                    <ul class="list-unstyled">
                      <li class="prependDash">CI/CD Pipelines</li>
                      <li class="prependDash">Pull Requests</li>
                      <li class="prependDash">Branch Policies</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xl-6">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <u>Acme AtronOmatic LLC</u>
                  </div>
                  <div class="col-sm-12">
                    Senior Software Engineer
                  </div>
                </div>
              </div>
              <div class="col-sm-6 text-right">
                <div class="row">
                  <div class="col-sm-12">
                    Orlando, FL
                  </div>
                  <div class="col-sm-12">
                    August 2014 - April 2018
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-9">
                <ul>
                  <li>
                    Architected and developed Cloud compatible multitier pricing
                    application
                    <ol>
                      <li>
                        Database agnostic Data Context implemented with EF Core
                        2.1
                      </li>
                      <li>Microservice-compatible Business Logic System</li>
                      <li>
                        Dynamic Angular 8 site with context dependent display
                      </li>
                    </ol>
                  </li>

                  <li>
                    Created self-referential recursive serialization systems in
                    C# and TypeScript
                  </li>
                  <li>
                    Replaced flat file intra-system communication endpoints with
                    modern APIs
                  </li>
                  <li>
                    Configured DevOps CI/CD pipelines for separate tier
                    deployment
                  </li>
                  <li>Utilized CI/CD pipelines to deploy bug fixes same-day</li>
                  <li>Reduced known regression occurrence to zero</li>
                  <li>
                    Upgraded frontend from Angular 7 to Angular 9 during
                    development
                  </li>
                  <li>Upgraded backend from EF 6.1 to EF Core 2.1</li>
                </ul>
              </div>
              <div class="col-sm">
                <ul class="list-unstyled">
                  <li>Angular 7/8/9</li>
                  <li>Bootstrap 4.x</li>
                  <li>.NET Core 2.1-3.1</li>
                  <li>Oracle 18c</li>
                  <li>TypeScript 3.7</li>
                  <li>Azure Functions</li>
                  <li>Azure SQL</li>
                  <li>Docker/K8s</li>
                  <li>CDN</li>
                  <li>
                    Azure DevOps
                    <ul class="list-unstyled">
                      <li class="prependDash">CI/CD Pipelines</li>
                      <li class="prependDash">Pull Requests</li>
                      <li class="prependDash">Branch Policies</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
