@media screen and (max-width: 575px) {
  .resumeAll {
    box-shadow: none !important;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    // width: 90%;
  }
}
@media screen and (min-width: 576px) {
  .resumePage {
    box-shadow: 5px 5px 10px 0px #888888;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .resumeAll {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 528px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .resumeAll {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .resumeAll {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 942px;
  }
}

@media screen and (min-width: 1200px) {
  .resumeAll {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 1088px;
  }
}

.resumePage.calibri {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 15pt;
}
@media print {
  .resumeAll {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 1088px;
  }


}

.codeText {
  font-family: firaCode;
}
.techBadge {
  width: 200px;
  transition: 0.25s transform, 0.25s box-shadow;
}
.pdfBadge {
  width: 240px;
  transition: 0.25s transform, 0.25s box-shadow;
}

@media only screen and (hover: hover) {

  .techBadge:hover {
    transform:  translate(-0.5px,-1px);
    box-shadow: 4px 7px 3px 0px #888 !important;
  }
  .pdfBadge:hover {
    transform:  translate(-0.5px,-1px);
    box-shadow: 4px 7px 3px 0px #888 !important;
  }
}
