@media screen and (max-width: 575px) {
  .resumeAll {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .resumeAll {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 528px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .resumeAll {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .resumeAll {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 942px;
  }
}

@media screen and (min-width: 1200px) {
  .resumeAll {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 1088px;
  }
}

@media screen {
  .resumePage {
    box-shadow: 5px 5px 10px 0px #888888;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2rem;
  }
}
.resumePage.calibri {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 15pt;
}
@media print {
  .resumeAll {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 1088px;
  }


}

.codeText {
  font-family: firaCode;
}
.techBadge {
  width: 200px;
}
