
$theme-colors: (
  "primary": #0088ff
);

$tooltip-max-width: 400px;
@media print {
  @for $i from 1 through 12 {
    .col-print-#{$i} {
        max-width: #{percentage(round($i*8.33)/100)} !important;
        float: left;
    }
  }
  .d-print-none {
    display: none;
  }
  .d-print-inline {
    display: inline;
  }
  .d-print-block {
    display: block;
  }
}
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@media only screen and (max-width: 991px) {
  .md-small {
    font-size: 0.85em;
  }
}

@media only screen and (max-width: 767px) {
  .sm-small {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 575px){
  .xs-small {
    font-size: 0.7em;
  }
}

@media print {
  .xs-small .sm-small {
    font-size: inherit !important;
  }
}
